@import "tailwindcss";

:root {
  --background: #020D14;
  --foreground: #ffffff;
  --primary: #0163A7;
  --primary-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}
